.navbar{
    background: rgb(240, 239, 239);
}

#dropdown-nav{
    background: rgb(240, 239, 239);
    
}

#container-1{
    max-width: 15%;
    border-radius: 5rem;
}



.tooltip-inner {
  height: 30px;
  font-size: 12px;
  background: linear-gradient(to right top, #4cbe85, #b8dfbe);
}

#pills-profile-tab, 
#pills-home-tab,
#btn-newpost, 
#btn-grid{
background: linear-gradient(to right top, #4cbe85, #b8dfbe);
}



#camera-button{
    border-radius: .25rem;
  
}

#geo-button1{
    border-radius: 2rem;
}